<% if question[1].errors.any? %>
<%= render 'shared/error_message', object: question[1] %>
<% end %>

<%= form_for question do |f| %>
  <div class="control-group">
    <%= f.label :body, "Question" %>
    <%= f.text_area :body, placeholder: "Example: What does the Array#slice method do?", class:'form_inputs' %>
  </div>
  <div class="control-group">
    <%= f.submit class: 'btn btn-large btn-success' %>
  </div>
<% end %>
