<%= render '/shared/page_header', header: "#{capitalize_names(@user.username)}'s Profile", subtext: ''%>

<% if logged_in? && current_user == @user %>
<div class="pull-right">
  <%= link_to "[Update your profile]", edit_user_path(@user)%>
</div>
<% end %>

<div class="well">
  <div class="dl-horizontal">
    <dt>Username:</dt>
    <dd><%= capitalize_names(@user.username) %></dd>
    <dt>Timezone:</dt>
    <dd><%= @user.time_zone %></dd>
  </div>
</div>

<div class="well">
  <p>Exams Contributed</p>
  <ol>
    <% @user.exams.each do |exam| %>
      <li><%= link_to exam.name, exam_path(exam)%></li>
      <% if logged_in? && current_user == @user %>
      <p><%= link_to "[Edit this Exam]", edit_exam_path(exam)%></p>
      <% end %>
    <% end %>
  </ol>
</div>
