<% if answer.errors.any? %>
<%= render 'shared/error_message', object: answer %>
<% end %>

<%= form_for answer do |f| %>
  <div class="control-group">
    <%= f.label :body, "Answer" %>
    <%= f.text_area :body, placeholder: "Example: Hash#merge adds the contents of a hash to the caller hash.", class:'form_inputs' %>
  </div>
  <div class="control-group">
    <%= f.submit class: 'btn btn-large btn-success' %>
  </div>
<% end %>
