<%= render '/shared/page_header', header: "#{@exam.name.capitalize}", subtext: "Create on: #{friendly_date_time_fixer(@exam.created_at)} by #{@exam.creator.username}", id: "top" %>
<h3>Fire up <%= link_to 'IRB', 'http://ruby-doc.org/stdlib-2.0/libdoc/irb/rdoc/IRB.html'%> and try to answer the questions</h3>
<h3>If you get stuck <%= link_to "check out the documentation!", url_fixer(@exam.doc_url) %></h3>
<h3>Click the button below to display the answers</h3>

<%= button_tag "Show Answers", {class:"btn btn-large btn-danger", id: "answer_button"} %>

<div class="row">
  <div class="well span12" id="exam_questions">
    <p>Questions</p>
    <ol>
      <% @exam.questions.reload.each do |question| %>
      <li><%= question.body %></li>
      <% end %>
    </ol>
  </div>
  <div class="hide_answers" id="exam_answers">
    <p>Answers</p>
    <ol>
      <% @exam.questions.reload.each do |question| %>
      <li><%= question.answer.body %></li>
      <% end %>
    </ol>
  </div>
</div>

<% if logged_in? && current_user == @exam.creator %>
<%= link_to "Need to edit the exam? Click here.", new_exam_question_path(@exam) %>
<% end %>

<hr />

<div class="text-center" id="vote_area">
  <% if logged_in? %>
    <%= link_to vote_exam_path(@exam, vote: true), method: 'post', remote: true do %>
      <button type="button" class="btn btn-large btn-success" id="exam_<%= @exam.slug %>_like_button">I enjoyed this exam</button>
    <% end %>
  <% end %>
  <p>Vote to give some feedback.</p>
  <p id='exam_<%= @exam.slug %>_votes'>Current vote total: <%= @exam.total_number_of_votes %></p>
  <p id='exam_<%= @exam.slug %>_error'></p>
  <% if logged_in? %>
    <%= link_to vote_exam_path(@exam, vote: false), method: 'post', remote: true do %>
      <button type="button" class="btn btn-large btn-warning" id="exam_<%= @exam.slug %>_dislike_button">I didn't like this exam</button>
    <% end %>
  <% end %>
</div>

<hr />

<% if logged_in? %>
<div id="comment_area">
  <div>
    <% if @comment.errors.any? %>
    <%= render 'shared/error_message', object: @comment %>
    <% end %>
    <%= form_for [@exam, @comment]  do |f| %>
      <div class="control-group">
        <%= f.label :body, "Enjoyed the Exam? Notice an error? Add a comment!" %>
        <%= f.text_area :body, class:'form_inputs' %>
      </div>
      <div class="control-group">
        <%= f.submit class: 'btn btn-large btn-info' %>
      </div>
    <% end %>
  </div>
</div>
<% end %>


<h3>Comments:</h3>
<% @exam.comments.reload.each do |comment| %>
  <%= render 'comments', comment: comment %>
<% end %>

<a href="#top" class="btn btn-large">Back to the top</a>
