<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" id="logo" href="/"><span id="logo_ruby">Ruby</span> <span id="logo_exams">Exams</span></a>
    <ul class="nav">
      <li><%= link_to 'Categories', categories_path %></li>
      <% if logged_in? %>
        <li><%= link_to 'New Exam', new_exam_path %></li>
        <li><%= link_to 'Profile', user_path(current_user) %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>

    <% unless logged_in? %>
    <div class="pull-right">
      <%= link_to "Sign Up", sign_up_path, class: "btn btn-danger btn-small"%>
    </div>
    <% end %>
  </div>
</div>
