<!DOCTYPE html>
<html>
<head>
  <title>RubyExams</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Learn/Review Ruby and Rails by taking Exams!">
  <meta name="author" content="Patrick Garrett Pavesi">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render '/layouts/navigation' %>
  </header>

  <div class="container" id="main_area">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

  <footer>
    <%= render '/layouts/bottom_navigation' %>
  </footer>
</body>
</html>
